body{
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

/*HEADER*/

header{
  display: flex;
  justify-content: center;
  padding: 0;
}
.identificador{
  width: 137px;
  margin: auto;
}
.textonav{
  display: inline-block;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  background: white;
}
.textonav:hover{
  color: #5C7F0F;
}

/*SECCIÓN UNO*/

img{
  width: 100%;
  transition: all 1s ease;
}
.imagen-principal img:hover{
  width: 90%;
}

/*SECCIÓN DOS*/

.carrousel-productos{
  display: grid;
  grid-auto-columns: 33% 33% 33%;
  grid-template-rows: 460px;
  justify-content: center;
  background-color: white;
  justify-items: center;
  text-align: center;
  padding-top: 70px;
}
.lamp-exterior{
  grid-column: 1 / 2;
  width: 100%;
  height: 450px;
}
.lamp-mesa{
  grid-column: 2 / 3;
  width: 100%;
  height: 450px;
}
.lamp-camping{
  grid-column: 3 / 4;
  width: 100%;
  height: 450px;
}
@keyframes entrar-salir{
  from{background-color: black;}
  to{background: #5C7F07;}
}
.button{
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  width: 211px;
  height: 42px; 

  animation-name: entrar-salir;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/*SECCIÓN TRES*/

.secciontres{
  background: #5C7F07;
  width: 100%;
  height: 200px;
  color: white;
  text-align: center;
}
h1{
  font-size: 24px;
  padding-top: 40px;
  margin:0%;
}
p{
  font-size: 17px;
  padding: 20px;
  margin-left: 30px;

}

/*PIE DE PÁGINA*/

footer{
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
}
.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.widget{
  text-align: center;
  margin:  0 auto;
}
.widget img{
  width: 45px;
  height: 45px;
  padding-top: 20px;
}

/*FIN PIE DE PÁGINA*/


/*MEDIA QUERIES*/

@media all and (min-width: 350px){

  .lamp-exterior{
    width: 60%;
  }
  .lamp-mesa{
    width: 60%;
  }
  .lamp-camping{
    width: 60%;
  }
  .button{
    width: 100%;
    font-size: 85%;
  }
  .secciontres{
    height: 300px;
    color: white;
  }
  .nuestrocompromiso{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    padding: 30px;
  }


}