#contenedor-header{
    width: auto;
    height: 80px;
    background-color: green;
}
.identificador{
    width: 25%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%;
    color: white;
}
.links{
    width: 75%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-right: 3%;
}
.textonav{
  text-decoration: none;
  color: black;
  padding: 10px;
}
.textonav:hover{
  color: #5C7F0F;
}
.imagen-principal{
  width: auto;
  height: 400px;
  background-color: green;
}
#carrousel-productos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 560px;
    justify-content: center;
    align-content: center;
    background-color: white;
}
.lamp-exterior{
  grid-column: 1 / 2;
  border-radius: 30px;
  border: 1px solid gray;
  width: 247px;
  height: 462px;
}
.lamp-mesa{
  grid-column: 2 / 3;
  border-radius:30px;
  border: 1px solid gray;
  width: 247px;
  height: 462px;
}
.lamp-camping{
  grid-column: 3 / 4;
  border-radius:30px;
  border: 1px solid gray;
  width: 247px;
  height: 462px;
}
.button{
  background-color: #5C7F07;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  width: 211px;
  height: 42px; 
}
.fila{
    display: flex;
}
.columnaizq{
    width: 50%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%;
    color: white;
}
.divredes{
    width: 50%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white
}
.cuadroizq{
    height: 80px;
    width: 80px;
}
.cuadroder{
    height: 30px;
    width: 30px;
    padding-left: 20px;
}
